universe = vanilla
Executable = run_ERA.sh
Arguments = $(process)
Requirements = OpSys == "LINUX" && (Arch != "DUMMY" )
request_disk = 10000000
request_memory = 10000
Should_Transfer_Files = YES
Transfer_input_files = includes.tar.gz
WhenToTransferOutput = ON_EXIT_OR_EVICT
PeriodicRemove = ( JobStatus == 2 ) && ( ( CurrentTime - EnteredCurrentStatus ) > 600000 )
Output = condor/ERA/SingleEleB_$(cluster)_$(process).stdout
Error  = condor/ERA/SingleEleB_$(cluster)_$(process).stderr
Log = condor/ERA/SingleEleB_$(cluster)_$(process).condor
x509userproxy = $ENV(X509_USER_PROXY)
Queue NFILE
