#!/bin/bash

cd ${_CONDOR_SCRATCH_DIR}

#Setup area to get correct root versions
echo "source /cvmfs/cms.cern.ch/cmsset_default.sh"
source /cvmfs/cms.cern.ch/cmsset_default.sh

echo "scramv1 project CMSSW CMSSW_10_6_8_patch1"
scramv1 project CMSSW CMSSW_10_6_8_patch1

echo "cd CMSSW_10_6_8_patch1/src/"
cd CMSSW_10_6_8_patch1/src/

echo "eval `scramv1 runtime -sh`"
eval `scramv1 runtime -sh`

echo "tar -zxvf ../../includes.tar.gz"
tar -zxvf ../../includes.tar.gz

g++ `root-config --cflags` analysis_elefakepho_template.C -o analysis_elefakepho.exe `root-config --libs`

pwd

##Get input and output flags
i=ERA
j=$1
input="SingleEle_${i}.root" 
echo $input

output="plot_elefakepho_${i}.root" 
echo $output

echo "./analysis_elefakepho.exe root://eoscms.cern.ch//eos/cms/store/group/phys_susy/Tribeni/FINAL_SingleEle_2016/$input $output"
./analysis_elefakepho.exe root://eoscms.cern.ch//eos/cms/store/group/phys_susy/Tribeni/FINAL_SingleEle_2016/$input $output

echo "xrdcp $output root://cmseos.fnal.gov//store/user/tmishra/$output"
xrdcp $output root://cmseos.fnal.gov//store/user/tmishra/$output

rm $output  
